	body {

		margin: 0 auto;

		padding: 0 12px;

		-moz-osx-font-smoothing: grayscale;

		-webkit-font-smoothing: antialiased;
	}
	#g-20211127_GDC102-box ,
	#g-20211127_GDC102-box .g-artboard {
		margin:0 auto;
	}
	#g-20211127_GDC102-box p {
		margin:0;
	}
	#g-20211127_GDC102-box .g-aiAbs {
		position:absolute;
	}
	#g-20211127_GDC102-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20211127_GDC102-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20211127_GDC102-box .g-aiPointText p { white-space: nowrap; }
	#g-20211127_GDC102-Artboard_1_copy {
		position:relative;
		overflow:hidden;
	}
	#g-20211127_GDC102-Artboard_1_copy p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:17px;
		height:auto;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20211127_GDC102-Artboard_1_copy .g-pstyle0 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:17px;
	}
	#g-20211127_GDC102-Artboard_1_copy .g-pstyle1 {
		height:17px;
	}
	#g-20211127_GDC102-Artboard_1_copy .g-pstyle2 {
		font-weight:500;
		height:17px;
		text-align:center;
	}
	#g-20211127_GDC102-Artboard_1_copy .g-cstyle0 {
		font-style:italic;
	}
	#g-20211127_GDC102-Artboard_1_copy .g-cstyle1 {
		font-weight:700;
		color:rgb(0,108,162);
	}
	#g-20211127_GDC102-Artboard_1_copy_2 {
		position:relative;
		overflow:hidden;
	}
	#g-20211127_GDC102-Artboard_1_copy_2 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:16px;
		height:auto;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20211127_GDC102-Artboard_1_copy_2 .g-pstyle0 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:17px;
	}
	#g-20211127_GDC102-Artboard_1_copy_2 .g-pstyle1 {
		height:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_2 .g-pstyle2 {
		font-weight:500;
		line-height:15px;
		height:15px;
		font-size:12px;
		text-align:center;
	}
	#g-20211127_GDC102-Artboard_1_copy_2 .g-cstyle0 {
		font-style:italic;
	}
	#g-20211127_GDC102-Artboard_1_copy_2 .g-cstyle1 {
		font-weight:700;
		color:rgb(0,108,162);
	}
	#g-20211127_GDC102-Artboard_1_copy_3 {
		position:relative;
		overflow:hidden;
	}
	#g-20211127_GDC102-Artboard_1_copy_3 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:17px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20211127_GDC102-Artboard_1_copy_3 .g-pstyle0 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_3 .g-pstyle1 {
		font-weight:500;
		font-style:italic;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_3 .g-pstyle2 {
		font-weight:500;
		line-height:16px;
		height:16px;
		font-size:13px;
		text-align:center;
	}
	#g-20211127_GDC102-Artboard_1_copy_3 .g-cstyle0 {
		font-style:italic;
	}
	#g-20211127_GDC102-Artboard_1_copy_4 {
		position:relative;
		overflow:hidden;
	}
	#g-20211127_GDC102-Artboard_1_copy_4 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:17px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20211127_GDC102-Artboard_1_copy_4 .g-pstyle0 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_4 .g-pstyle1 {
		font-weight:500;
		font-style:italic;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_4 .g-pstyle2 {
		font-weight:500;
		line-height:16px;
		height:16px;
		font-size:13px;
		text-align:center;
	}
	#g-20211127_GDC102-Artboard_1_copy_4 .g-cstyle0 {
		font-style:italic;
	}
	#g-20211127_GDC102-Artboard_1_copy_5 {
		position:relative;
		overflow:hidden;
	}
	#g-20211127_GDC102-Artboard_1_copy_5 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:16px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20211127_GDC102-Artboard_1_copy_5 .g-pstyle0 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_5 .g-pstyle1 {
		font-weight:500;
		font-style:italic;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20211127_GDC102-Artboard_1_copy_5 .g-pstyle2 {
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:11px;
		text-align:center;
	}
	#g-20211127_GDC102-Artboard_1_copy_5 .g-cstyle0 {
		font-style:italic;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 {
		position:relative;
		overflow:hidden;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:18px;
		height:auto;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:15px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 .g-pstyle0 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:17px;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 .g-pstyle1 {
		height:18px;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 .g-pstyle2 {
		font-weight:500;
		height:18px;
		text-align:center;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 .g-cstyle0 {
		font-style:italic;
	}
	#g-20211127_GDC102-Artboard_1_copy_6 .g-cstyle1 {
		font-weight:700;
		color:rgb(0,108,162);
	}
