	body {

		margin: 0 auto;
	}
	#g-20220226_WOM966-box ,
	#g-20220226_WOM966-box .g-artboard {
		margin:0 auto;
	}
	#g-20220226_WOM966-box p {
		margin:0;
	}
	#g-20220226_WOM966-box .g-aiAbs {
		position:absolute;
	}
	#g-20220226_WOM966-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20220226_WOM966-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20220226_WOM966-box .g-aiPointText p { white-space: nowrap; }
	#g-20220226_WOM966-Artboard_1_copy_2 {
		position:relative;
		overflow:hidden;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle0 {
		line-height:13px;
		height:13px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle1 {
		font-weight:400;
		line-height:33px;
		height:33px;
		letter-spacing:0.1em;
		text-align:center;
		color:rgb(114,112,98);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle2 {
		font-weight:400;
		line-height:13px;
		height:13px;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle3 {
		font-weight:700;
		line-height:33px;
		height:33px;
		letter-spacing:0.8em;
		font-size:17px;
		text-align:center;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle4 {
		line-height:13px;
		height:13px;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle5 {
		font-weight:400;
		line-height:26px;
		height:26px;
		text-align:center;
		color:rgb(114,112,98);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle6 {
		line-height:13px;
		height:13px;
		text-align:right;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle7 {
		font-weight:500;
		line-height:24px;
		height:24px;
		color:rgb(8,89,80);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle8 {
		font-weight:400;
		font-style:italic;
		line-height:19px;
		height:19px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle9 {
		height:16px;
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle10 {
		font-style:italic;
		line-height:15px;
		height:15px;
		letter-spacing:0.1em;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle11 {
		font-weight:500;
		line-height:26px;
		height:26px;
		text-align:center;
		color:rgb(8,89,80);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle12 {
		font-style:italic;
		line-height:17px;
		height:17px;
		letter-spacing:0.1em;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle13 {
		line-height:13px;
		height:13px;
		font-size:12px;
		color:rgb(98,97,96);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-pstyle14 {
		line-height:13px;
		height:13px;
		font-size:12px;
		text-align:right;
		color:rgb(98,97,96);
	}
	#g-20220226_WOM966-Artboard_1_copy_2 .g-cstyle0 {
		font-style:italic;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 {
		position:relative;
		overflow:hidden;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:12px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle0 {
		line-height:12px;
		height:12px;
		font-size:10px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle1 {
		font-weight:400;
		line-height:33px;
		height:33px;
		letter-spacing:0.1em;
		font-size:13px;
		text-align:center;
		color:rgb(114,112,98);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle2 {
		font-weight:700;
		line-height:33px;
		height:33px;
		letter-spacing:0.8em;
		font-size:17px;
		text-align:center;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle3 {
		line-height:13px;
		height:13px;
		font-size:13px;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle4 {
		line-height:12px;
		height:12px;
		font-size:13px;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle5 {
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle6 {
		font-weight:400;
		line-height:12px;
		height:12px;
		font-size:14px;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle7 {
		font-weight:500;
		line-height:22px;
		height:22px;
		font-size:14px;
		color:rgb(8,89,80);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle8 {
		font-weight:400;
		font-style:italic;
		line-height:17px;
		height:17px;
		font-size:14px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle9 {
		font-weight:400;
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle10 {
		font-style:italic;
		line-height:13px;
		height:13px;
		letter-spacing:0.1em;
		font-size:13px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle11 {
		font-weight:500;
		line-height:23px;
		height:23px;
		font-size:14px;
		text-align:center;
		color:rgb(8,89,80);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle12 {
		font-style:italic;
		height:16px;
		letter-spacing:0.1em;
		font-size:13px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle13 {
		font-weight:400;
		line-height:12px;
		height:12px;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle14 {
		height:16px;
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle15 {
		line-height:13px;
		height:13px;
		font-size:11px;
		color:rgb(98,97,96);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-pstyle16 {
		font-weight:400;
		line-height:23px;
		height:23px;
		text-align:right;
		color:rgb(114,112,98);
	}
	#g-20220226_WOM966-Artboard_1_copy_3 .g-cstyle0 {
		font-style:italic;
	}
