	body {
		margin: 0 auto;	}
	#g-20220625_GDC200_1-box ,
	#g-20220625_GDC200_1-box .g-artboard {
		margin:0 auto;
	}
	#g-20220625_GDC200_1-box p {
		margin:0;
	}
	#g-20220625_GDC200_1-box .g-aiAbs {
		position:absolute;
	}
	#g-20220625_GDC200_1-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20220625_GDC200_1-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20220625_GDC200_1-box .g-aiPointText p { white-space: nowrap; }
	#g-20220625_GDC200_1-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-20220625_GDC200_1-Artboard_1 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle0 {
		font-weight:500;
		line-height:21px;
		height:21px;
		font-size:16px;
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle1 {
		height:17px;
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle2 {
		font-weight:300;
		height:17px;
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle3 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle4 {
		height:17px;
		text-align:right;
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle5 {
		height:17px;
		color:rgb(255,255,255);
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle6 {
		font-weight:300;
		height:17px;
		color:rgb(255,255,255);
	}
	#g-20220625_GDC200_1-Artboard_1 .g-pstyle7 {
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
		color:rgb(98,97,96);
	}
	#g-20220625_GDC200_1-Artboard_1 .g-cstyle0 {
		font-weight:300;
	}
	#g-20220625_GDC200_1-Artboard_1_copy {
		position:relative;
		overflow:hidden;
	}
	#g-20220625_GDC200_1-Artboard_1_copy p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:21px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:15px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle0 {
		font-weight:500;
		height:21px;
		font-size:16px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle1 {
		height:21px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle2 {
		font-weight:300;
		height:21px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle3 {
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle4 {
		font-weight:300;
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle5 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle6 {
		line-height:17px;
		height:17px;
		font-size:14px;
		text-align:right;
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle7 {
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(255,255,255);
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle8 {
		font-weight:300;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(255,255,255);
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-pstyle9 {
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
		color:rgb(98,97,96);
	}
	#g-20220625_GDC200_1-Artboard_1_copy .g-cstyle0 {
		font-weight:300;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 {
		position:relative;
		overflow:hidden;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:21px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:16px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle0 {
		font-weight:500;
		height:21px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle1 {
		height:21px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle2 {
		font-weight:300;
		height:21px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle3 {
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle4 {
		font-weight:300;
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle5 {
		font-weight:500;
		line-height:19px;
		height:19px;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle6 {
		line-height:17px;
		height:17px;
		font-size:14px;
		text-align:right;
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle7 {
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(255,255,255);
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle8 {
		font-weight:300;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(255,255,255);
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-pstyle9 {
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
		color:rgb(98,97,96);
	}
	#g-20220625_GDC200_1-Artboard_1_copy_2 .g-cstyle0 {
		font-weight:300;
	}
