	body {

		margin: 0 auto;
	}
	#g-20220423_GDC100-box ,
	#g-20220423_GDC100-box .g-artboard {
		margin:0 auto;
	}
	#g-20220423_GDC100-box p {
		margin:0;
	}
	#g-20220423_GDC100-box .g-aiAbs {
		position:absolute;
	}
	#g-20220423_GDC100-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20220423_GDC100-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20220423_GDC100-box .g-aiPointText p { white-space: nowrap; }
	#g-20220423_GDC100-Artboard_1_copy {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:19px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:16px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle0 {
		font-weight:500;
		line-height:20px;
		height:20px;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle1 {
		font-weight:300;
		line-height:20px;
		height:20px;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle2 {
		font-weight:500;
		line-height:16px;
		height:16px;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle3 {
		font-weight:500;
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle4 {
		line-height:17px;
		height:17px;
		font-size:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle5 {
		font-weight:300;
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle6 {
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle7 {
		line-height:17px;
		height:17px;
		letter-spacing:0.1em;
		font-size:14px;
		text-align:center;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle8 {
		font-weight:500;
		height:19px;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle9 {
		height:19px;
		text-align:right;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle10 {
		height:19px;
	}
	#g-20220423_GDC100-Artboard_1_copy .g-pstyle11 {
		line-height:14px;
		height:14px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220423_GDC100-Artboard_1_copy_2 {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle0 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle1 {
		font-weight:300;
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle2 {
		font-weight:500;
		line-height:16px;
		height:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle3 {
		font-weight:500;
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle4 {
		height:17px;
		letter-spacing:0.1em;
		text-align:center;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle5 {
		height:17px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle6 {
		font-weight:300;
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle7 {
		height:17px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle8 {
		font-weight:500;
		height:17px;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle9 {
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle10 {
		height:17px;
		text-align:right;
	}
	#g-20220423_GDC100-Artboard_1_copy_2 .g-pstyle11 {
		line-height:14px;
		height:14px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220423_GDC100-Artboard_1_copy_3 {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle0 {
		line-height:14px;
		height:14px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle1 {
		font-weight:500;
		height:17px;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle2 {
		line-height:14px;
		height:14px;
		letter-spacing:0.1em;
		font-size:12px;
		text-align:center;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle3 {
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle4 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle5 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle6 {
		font-weight:500;
		line-height:16px;
		height:16px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle7 {
		height:17px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle8 {
		font-weight:300;
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_3 .g-pstyle9 {
		height:17px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy_4 {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:14px;
		height:auto;
		opacity:1;
		letter-spacing:0.1em;
		font-size:12px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle0 {
		height:14px;
		letter-spacing:0em;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle1 {
		height:14px;
		text-align:center;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle2 {
		font-weight:500;
		line-height:17px;
		height:17px;
		letter-spacing:0em;
		font-size:14px;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle3 {
		font-weight:500;
		line-height:20px;
		height:20px;
		letter-spacing:0em;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle4 {
		font-weight:300;
		line-height:20px;
		height:20px;
		letter-spacing:0em;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle5 {
		font-weight:500;
		line-height:17px;
		height:17px;
		letter-spacing:0em;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle6 {
		font-weight:500;
		line-height:16px;
		height:16px;
		letter-spacing:0em;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle7 {
		line-height:17px;
		height:17px;
		letter-spacing:0em;
		font-size:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle8 {
		font-weight:300;
		line-height:17px;
		height:17px;
		letter-spacing:0em;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy_4 .g-pstyle9 {
		line-height:17px;
		height:17px;
		letter-spacing:0em;
		font-size:14px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy_5 {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle0 {
		font-weight:500;
		height:17px;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle1 {
		font-weight:400;
		line-height:14px;
		height:14px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle2 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle3 {
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle4 {
		font-weight:500;
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle5 {
		font-weight:500;
		line-height:16px;
		height:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle6 {
		font-weight:400;
		height:17px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle7 {
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_5 .g-pstyle8 {
		font-weight:400;
		height:17px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy_6 {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy_6 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle0 {
		font-weight:500;
		height:17px;
		text-align:justify;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle1 {
		font-weight:400;
		line-height:14px;
		height:14px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle2 {
		font-weight:500;
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle3 {
		line-height:20px;
		height:20px;
		font-size:16px;
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle4 {
		font-weight:500;
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle5 {
		font-weight:400;
		height:17px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle6 {
		height:17px;
	}
	#g-20220423_GDC100-Artboard_1_copy_6 .g-pstyle7 {
		font-weight:400;
		height:17px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy_7 {
		position:relative;
		overflow:hidden;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:19px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:16px;
		text-align:left;
		color:rgb(40,35,29);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle0 {
		font-weight:500;
		line-height:20px;
		height:20px;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle1 {
		font-weight:300;
		line-height:20px;
		height:20px;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle2 {
		font-weight:500;
		line-height:16px;
		height:16px;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle3 {
		font-weight:500;
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle4 {
		line-height:17px;
		height:17px;
		font-size:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle5 {
		font-weight:300;
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle6 {
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(236,17,26);
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle7 {
		line-height:17px;
		height:17px;
		letter-spacing:0.1em;
		font-size:14px;
		text-align:center;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle8 {
		font-weight:500;
		height:19px;
		color:rgb(255,255,255);
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle9 {
		height:19px;
		text-align:right;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle10 {
		height:19px;
	}
	#g-20220423_GDC100-Artboard_1_copy_7 .g-pstyle11 {
		line-height:14px;
		height:14px;
		font-size:12px;
		text-align:center;
		color:rgb(98,97,96);
	}

	/* Custom CSS */
	.g-text-halo{
-webkit-text-stroke: 4px white;
}
.g-annotations{
z-index: 999;
}
