	body {

		margin: 0 auto;

		padding: 0 12px;

		-moz-osx-font-smoothing: grayscale;

		-webkit-font-smoothing: antialiased;
	}
	#g-20220205_GDC101-box ,
	#g-20220205_GDC101-box .g-artboard {
		margin:0 auto;
	}
	#g-20220205_GDC101-box p {
		margin:0;
	}
	#g-20220205_GDC101-box .g-aiAbs {
		position:absolute;
	}
	#g-20220205_GDC101-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20220205_GDC101-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20220205_GDC101-box .g-aiPointText p { white-space: nowrap; }
	#g-20220205_GDC101-v {
		position:relative;
		overflow:hidden;
	}
	#g-20220205_GDC101-v p {
		font-family:EconSansOS,EconSansOSSec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:20px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20220205_GDC101-v .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:18px;
		height:18px;
		font-size:16px;
		color:rgb(40,35,29);
	}
	#g-20220205_GDC101-v .g-pstyle1 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:18px;
		height:18px;
	}
	#g-20220205_GDC101-v .g-pstyle2 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
	}
	#g-20220205_GDC101-v .g-pstyle3 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v .g-pstyle4 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
	}
	#g-20220205_GDC101-v .g-pstyle5 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v .g-pstyle6 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:14px;
		height:14px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v .g-pstyle7 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v .g-pstyle8 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v .g-pstyle9 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:14px;
		height:14px;
		text-align:right;
	}
	#g-20220205_GDC101-v .g-pstyle10 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v .g-pstyle11 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v .g-pstyle12 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220205_GDC101-v .g-pstyle13 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v .g-pstyle14 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v .g-pstyle15 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v .g-pstyle16 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v .g-pstyle17 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v .g-pstyle18 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v .g-pstyle19 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		color:rgb(98,95,82);
	}
	#g-20220205_GDC101-v .g-pstyle20 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:right;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v .g-pstyle21 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v .g-pstyle22 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v .g-pstyle23 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v .g-pstyle24 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:center;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v .g-pstyle25 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		font-size:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v .g-pstyle26 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:16px;
		font-size:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v .g-pstyle27 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:11px;
		height:11px;
		font-size:13px;
		text-align:center;
	}
	#g-20220205_GDC101-v .g-cstyle0 {
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy {
		position:relative;
		overflow:hidden;
	}
	#g-20220205_GDC101-v_copy p {
		font-family:EconSansOS,EconSansOSSec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:20px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20220205_GDC101-v_copy .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:18px;
		height:18px;
		font-size:16px;
		color:rgb(40,35,29);
	}
	#g-20220205_GDC101-v_copy .g-pstyle1 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:18px;
		height:18px;
	}
	#g-20220205_GDC101-v_copy .g-pstyle2 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
	}
	#g-20220205_GDC101-v_copy .g-pstyle3 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy .g-pstyle4 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy .g-pstyle5 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy .g-pstyle6 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy .g-pstyle7 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy .g-pstyle8 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy .g-pstyle9 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy .g-pstyle10 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:16px;
		font-size:13px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy .g-pstyle11 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy .g-pstyle12 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy .g-pstyle13 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:14px;
		height:14px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy .g-pstyle14 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:13px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy .g-pstyle15 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:13px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy .g-pstyle16 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:13px;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy .g-pstyle17 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:13px;
		color:rgb(98,95,82);
	}
	#g-20220205_GDC101-v_copy .g-pstyle18 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:11px;
		height:11px;
		font-size:13px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy .g-pstyle19 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
	}
	#g-20220205_GDC101-v_copy .g-pstyle20 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:center;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy .g-pstyle21 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy .g-pstyle22 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:center;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy .g-pstyle23 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:center;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy .g-pstyle24 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		font-size:13px;
		text-align:right;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy .g-pstyle25 {
		letter-spacing:-0.002em;
	}
	#g-20220205_GDC101-v_copy .g-cstyle0 {
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_2 {
		position:relative;
		overflow:hidden;
	}
	#g-20220205_GDC101-v_copy_2 p {
		font-family:EconSansOS,EconSansOSSec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:20px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:18px;
		height:18px;
		font-size:18px;
		color:rgb(40,35,29);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle1 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:18px;
		height:18px;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle2 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle3 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle4 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle5 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle6 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle7 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle8 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:right;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle9 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle10 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:16px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle11 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle12 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle13 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:14px;
		height:14px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle14 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle15 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle16 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle17 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		color:rgb(98,95,82);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle18 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:11px;
		height:11px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle19 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle20 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle21 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle22 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle23 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle24 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_2 .g-pstyle25 {
		letter-spacing:-0.002em;
	}
	#g-20220205_GDC101-v_copy_2 .g-cstyle0 {
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_4 {
		position:relative;
		overflow:hidden;
	}
	#g-20220205_GDC101-v_copy_4 p {
		font-weight:500;
		line-height:20px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:18px;
		height:18px;
		font-size:16px;
		color:rgb(40,35,29);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle1 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:18px;
		height:18px;
		font-size:15px;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle2 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:18px;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle3 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle4 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle5 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:14px;
		height:14px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle6 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle7 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle8 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle9 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle10 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle11 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle12 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle13 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		color:rgb(98,95,82);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle14 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:right;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle15 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle16 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle17 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:16px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle18 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:11px;
		height:11px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle19 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle20 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		font-size:15px;
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle21 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle22 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle23 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle24 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_4 .g-pstyle25 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:11px;
		height:11px;
		font-size:13px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_4 .g-cstyle0 {
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_3 {
		position:relative;
		overflow:hidden;
	}
	#g-20220205_GDC101-v_copy_3 p {
		font-family:EconSansOS,EconSansOSSec,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,'sans-serif';
		font-weight:400;
		line-height:20px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:18px;
		height:18px;
		font-size:16px;
		color:rgb(40,35,29);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle1 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:18px;
		height:18px;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle2 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:18px;
		font-size:13px;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle3 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle4 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle5 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle6 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle7 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle8 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		text-align:right;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle9 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		font-size:13px;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle10 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:16px;
		height:16px;
		font-size:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle11 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		font-size:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle12 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:12px;
		height:12px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle13 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:14px;
		height:14px;
		text-align:right;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle14 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle15 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle16 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		color:rgb(255,255,255);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle17 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:14px;
		height:14px;
		color:rgb(98,95,82);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle18 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:12px;
		height:12px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle19 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:11px;
		height:11px;
		text-align:center;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle20 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle21 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(235,17,26);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle22 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(0,169,192);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle23 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(35,49,129);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle24 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:500;
		line-height:12px;
		height:12px;
		text-align:center;
		color:rgb(114,111,98);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle25 {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		line-height:14px;
		height:14px;
		text-align:right;
		color:rgb(114,112,98);
	}
	#g-20220205_GDC101-v_copy_3 .g-pstyle26 {
		letter-spacing:-0.002em;
	}
	#g-20220205_GDC101-v_copy_3 .g-cstyle0 {
		color:rgb(235,17,26);
	}
