	body {
		margin: 0 auto;	}
	#g-20220625_WOC417-box ,
	#g-20220625_WOC417-box .g-artboard {
		margin:0 auto;
	}
	#g-20220625_WOC417-box p {
		margin:0;
	}
	#g-20220625_WOC417-box .g-aiAbs {
		position:absolute;
	}
	#g-20220625_WOC417-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20220625_WOC417-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20220625_WOC417-box .g-aiPointText p { white-space: nowrap; }
	#g-20220625_WOC417-Artboard_1-640 {
		position:relative;
		overflow:hidden;
	}
	#g-20220625_WOC417-Artboard_1-640 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:19px;
		height:19px;
		letter-spacing:0.005em;
		font-size:16px;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle1 {
		font-weight:400;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle2 {
		font-weight:500;
		line-height:18px;
		height:18px;
		font-size:15px;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle3 {
		line-height:19px;
		height:19px;
		text-align:center;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle4 {
		height:17px;
		text-align:right;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle5 {
		height:17px;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle6 {
		font-weight:400;
		height:17px;
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle7 {
		line-height:16px;
		height:16px;
		font-size:13px;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle8 {
		font-style:italic;
		line-height:16px;
		height:16px;
		font-size:13px;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-640 .g-pstyle9 {
		line-height:16px;
		height:16px;
		font-size:13px;
		text-align:right;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-640 .g-cstyle0 {
		font-style:italic;
	}
	#g-20220625_WOC417-Artboard_1-590 {
		position:relative;
		overflow:hidden;
	}
	#g-20220625_WOC417-Artboard_1-590 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:19px;
		height:19px;
		letter-spacing:0.005em;
		font-size:16px;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle1 {
		font-weight:400;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle2 {
		font-weight:500;
		line-height:18px;
		height:18px;
		font-size:15px;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle3 {
		line-height:19px;
		height:19px;
		text-align:center;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle4 {
		height:17px;
		text-align:right;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle5 {
		height:17px;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle6 {
		font-weight:400;
		height:17px;
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle7 {
		line-height:16px;
		height:16px;
		font-size:13px;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle8 {
		font-style:italic;
		line-height:16px;
		height:16px;
		font-size:13px;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-590 .g-pstyle9 {
		line-height:16px;
		height:16px;
		font-size:13px;
		text-align:right;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-590 .g-cstyle0 {
		font-style:italic;
	}
	#g-20220625_WOC417-Artboard_1-350 {
		position:relative;
		overflow:hidden;
	}
	#g-20220625_WOC417-Artboard_1-350 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle0 {
		font-family:EconSansLin,EconSansOS,EconSansOSSec,EconSans,EconSansSec,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:700;
		line-height:19px;
		height:19px;
		letter-spacing:0.005em;
		font-size:16px;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle1 {
		font-weight:400;
		line-height:19px;
		height:19px;
		font-size:16px;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle2 {
		height:17px;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle3 {
		font-weight:500;
		line-height:18px;
		height:18px;
		font-size:15px;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle4 {
		font-weight:400;
		height:17px;
		color:rgb(255,255,255);
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle5 {
		font-weight:400;
		height:17px;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle6 {
		line-height:19px;
		height:19px;
		text-align:center;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle7 {
		line-height:16px;
		height:16px;
		font-size:13px;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-350 .g-pstyle8 {
		line-height:16px;
		height:16px;
		font-size:13px;
		text-align:right;
		color:rgb(128,128,128);
	}
	#g-20220625_WOC417-Artboard_1-350 .g-cstyle0 {
		font-style:italic;
	}
	#g-20220625_WOC417-Artboard_1-350 .g-cstyle1 {
		font-weight:500;
	}

	/* Custom CSS */
	body {
  max-width: 640px;
  margin: 0;
}
