	body {
		margin: 0 auto;	}
	#g-20221001_GDC200_2-box ,
	#g-20221001_GDC200_2-box .g-artboard {
		margin:0 auto;
	}
	#g-20221001_GDC200_2-box p {
		margin:0;
	}
	#g-20221001_GDC200_2-box .g-aiAbs {
		position:absolute;
	}
	#g-20221001_GDC200_2-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-20221001_GDC200_2-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-20221001_GDC200_2-box .g-aiPointText p { white-space: nowrap; }
	#g-20221001_GDC200_2-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-20221001_GDC200_2-Artboard_1 p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(128,128,128);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20221001_GDC200_2-Artboard_1 .g-pstyle0 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
		color:rgb(40,35,29);
	}
	#g-20221001_GDC200_2-Artboard_1 .g-pstyle1 {
		font-weight:500;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(40,35,29);
	}
	#g-20221001_GDC200_2-Artboard_1 .g-pstyle2 {
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(40,35,29);
	}
	#g-20221001_GDC200_2-Artboard_1 .g-pstyle3 {
		height:18px;
	}
	#g-20221001_GDC200_2-Artboard_1 .g-cstyle0 {
		font-weight:300;
	}
	#g-20221001_GDC200_2-Artboard_1_copy {
		position:relative;
		overflow:hidden;
	}
	#g-20221001_GDC200_2-Artboard_1_copy p {
		font-family:EconSansCnd,EconSansCndSec,Arial Narrow,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,'sans-serif';
		font-weight:300;
		line-height:18px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(128,128,128);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-20221001_GDC200_2-Artboard_1_copy .g-pstyle0 {
		font-weight:500;
		line-height:19px;
		height:19px;
		font-size:16px;
		color:rgb(40,35,29);
	}
	#g-20221001_GDC200_2-Artboard_1_copy .g-pstyle1 {
		font-weight:500;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(40,35,29);
	}
	#g-20221001_GDC200_2-Artboard_1_copy .g-pstyle2 {
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(40,35,29);
	}
	#g-20221001_GDC200_2-Artboard_1_copy .g-pstyle3 {
		height:18px;
	}
	#g-20221001_GDC200_2-Artboard_1_copy .g-cstyle0 {
		font-weight:300;
	}
