:root {

  /* red */

  /* blue */

  /* cyan */

  /* green */

  /* yellow */

  /* olive */

  /* purple */

  /* gold */

  /* grey */
}
/**
 * Econ Sans OS
*/
/* Primary subset fonts (aA-zZ 0-9 etc). */
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: normal;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-li.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-li.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: italic;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-li-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-li-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOS;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-bd-it.woff') format('woff');
}
/* Secondary subset fonts (all other characters) */
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: normal;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-li.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-li.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: italic;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-primary-subset-li-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-primary-subset-li-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansOSSec;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-bd-it.woff') format('woff');
}
/**
 * Milo TE
*/
/* Primary subset fonts (aA-zZ 0-9 etc). */
@font-face {
  font-display: swap;
  font-family: MiloTE;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/milo-primary-subset-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-primary-subset-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTE;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/milo-primary-subset-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-primary-subset-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTE;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/milo-primary-subset-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-primary-subset-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTE;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/milo-primary-subset-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-primary-subset-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTE;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/milo-primary-subset-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-primary-subset-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTE;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/milo-primary-subset-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-primary-subset-bd-it.woff') format('woff');
}
/* Secondary subset fonts (all other characters) */
@font-face {
  font-display: swap;
  font-family: MiloTESec;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/milo-secondary-subset-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-secondary-subset-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESec;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/milo-secondary-subset-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-secondary-subset-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESec;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/milo-secondary-subset-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-secondary-subset-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESec;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/milo-secondary-subset-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-secondary-subset-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESec;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/milo-secondary-subset-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-secondary-subset-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESec;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/milo-secondary-subset-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-secondary-subset-bd-it.woff') format('woff');
}
/**
 * Econ Sans Condensed (used in charts and infographics)
*/
/* Primary subset fonts (aA-zZ 0-9 etc). */
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: normal;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-li.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-li.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-li-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-li-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCnd;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-condensed-primary-subset-bd-it.woff') format('woff');
}
/* Secondary subset fonts (all other characters) */
@font-face {
  font-display: swap;
  font-family: EconSansCndSec;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-li.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-li.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCndSec;
  font-weight: normal;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCndSec;
  font-style: italic;
  font-weight: normal;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCndSec;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansCndSec;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-secondary-subset-cd-bd.woff') format('woff');
}
/**
 * Econ Sans (lining figures)
*/
/* Subset fonts (0-9). */
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: normal;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-li.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-li.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: italic;
  font-weight: 300;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-li-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-li-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: EconSansLin;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/econsans-lining-subset-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/econsans-lining-subset-bd-it.woff') format('woff');
}
/**
 * Milo TE smallcaps
*/
@font-face {
  font-display: swap;
  font-family: MiloTESC;
  font-style: normal;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/milo-smallcaps-rg.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-smallcaps-rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESC;
  font-style: italic;
  font-weight: 400;
  src:
    url('https://www.economist.com/assets/milo-smallcaps-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-smallcaps-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESC;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/milo-smallcaps-md.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-smallcaps-md.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESC;
  font-style: italic;
  font-weight: 500;
  src:
    url('https://www.economist.com/assets/milo-smallcaps-md-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-smallcaps-md-it.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESC;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/milo-smallcaps-bd.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-smallcaps-bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: MiloTESC;
  font-style: italic;
  font-weight: 700;
  src:
    url('https://www.economist.com/assets/milo-smallcaps-bd-it.woff2') format('woff2'),
    url('https://www.economist.com/assets/milo-smallcaps-bd-it.woff') format('woff');
}
.js-app .chart-container {
    font: 16px/19px "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    color: #0c0c0c;
  }
.js-app .interactive-header-title {
    font: bold 18px/24px "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    margin: 0;
  }
.js-app .interactive-header-subtitle {
    font: 400 16px/21px "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    margin: 0;
  }
.js-app .interactive-header-subsub {
    font: 200 16px/21px "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  }
.js-app super {
    font-size: 12px;
    vertical-align: super;
  }
.js-app .interactive-footer .source-element:after {
      content: '; ';
    }
.js-app .interactive-footer .source-element:last-child:after {
      content: '';
    }
.js-app .source,
  .js-app .notes {
    font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 12px;
    font-weight: 300;
    color: #586a74;
    line-height: 14px;
  }
.js-app .notes {
    text-align: right;
  }
.js-app .flytitle-and-title__title {
    font-family: "MiloTE", "MiloTESec", "MiloSerifPro", "MiloSerifProSec", "Constantia", "Lucida Bright", "Lucidabright", "Lucida", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Georgia", "serif";
    font-size: 30px;
    font-weight: 500;
    /*letter-spacing: -.02em;*/
    line-height: 1.1;
  }
.js-app .flytitle-and-title__flytitle {
    font-weight: 400;
    font-size: 16px;
    color: #E3120B;
  }
.js-app .legend-label {
    font-size: 14px;
    font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  }
.js-app .legend-centre-label,
  .js-app .legend-break-label {
    text-anchor: middle;
  }
.js-app .legend-right-label {
    text-anchor: end;
  }
.js-app .chart-label {
    font-size: 12px;
  }
/* Axes */
.js-app .tick-label {
    font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
  }
.js-app .axis-label {
    font-family: "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
    /*font-style: italic;*/
  }
.js-app .body-text {
    -webkit-font-smoothing: antialiased;
    font-family: "MiloTE", "MiloTESec", "MiloSerifPro", "MiloSerifProSec", "Constantia", "Lucida Bright", "Lucidabright", "Lucida", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Georgia", "serif";
    color: #0c0c0c;

    font-size: 18px;
    line-height: 28.8px;
  }
@media (min-width: 768px) {
    .js-app .body-text {
      font-size: 20px;
      line-height: 32px;
    }
  }
.js-app .axis .tick text {
        font-size: 14px;
        fill: #3f5661;
      }
.js-app .subchart-title,
  .js-app .subchart-subtitle {
    font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 15px;
    line-height: 18px;
  }
.js-app .subchart-title {
    font-weight: 700;
  }
.js-app .subchart-subtitle {
    font-weight: 300;
  }
.interactive-header {
  position: relative;

  padding-top: 12px;
  margin-bottom: 20px;
}
.interactive-header:after {
    content: '';
    display: block;
    /* Microsoft Edge has a problem with the var declarations here, for
    some reason, so we have to use the color itself... */
    background-color: #e3210b;
    /* background-color: var(--econ-red); */
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 10px;
  }
.interactive-header.interactive-header__subsection {
    padding-top: 6px;
  }
.interactive-header.interactive-header__subsection:after {
      height: 4px;
    }
.interactive-header.interactive-header__chart-head:before {
    content: '';
    display: block;
    /* Microsoft Edge has a problem with the var declarations here, for
    some reason, so we have to use the color itself... */
    background-color: #e3210b;
    /* background-color: var(--econ-red); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
.interactive-footer {
  margin-top: 10px;
  padding: 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.interactive-footer .notes {
    margin-left: 10%;
  }
.interactive-footer .notes span {
      margin-left: 0.75em;
    }
.dti-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  text-align: center;

  color: #758d99;
}
.dti-button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  /*padding: 5px 8px;*/
  margin: 0 10px;
  line-height: 18px;

  border: 1px solid #758d99;
  border-radius: 1px;
}
.dti-button:hover {
    background-color: #e9edf0;
  }
.dti-button:active {
    background-color: #758d99;
    color: white;
  }
.dti-button .dti-button-label {
    padding: 5px 8px;
    white-space: nowrap;
  }
.dti-button-colour-block {
  display: block;
  float: left;
  width: 1.2em;
  height: 10px;
  padding: 9px 0;
}
.dti-button__large {
  /*padding: 10px;*/
  font-size: 17px;
  font-family: "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
}
.dti-button__large .dti-button-label {
    padding: 10px;
  }
.dti-button__large .dti-button-colour-block {
    padding: 14px 0;
  }
.dti-button__selected {
  background-color: #cbdce6;
  border-color: #0c0c0c;
  color: #0c0c0c;
}
.dti-button__selected:hover {
    background-color: #3f5661;
    color: white;
  }
.dti-button__selected:active {
    background-color: #0c0c0c;
    color: white;
  }
.dti-button__disabled,
.dti-button__disabled:hover,
.dti-button__disabled:active {
  border-color: #b7c6cf;
  color: #b7c6cf;
  background-color: transparent;
  background-color: initial;
  cursor: default;
}
.toggle-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab-bar .tab {
    margin: 0 0 0 -1px;
  }
.filter-bar .dti-button:hover {
      background-color: white;
      color: #3f5661;
    }
.filter-bar .dti-button:active {
      background-color: white;
      color: #0c0c0c;
      /*border-color: var(--main-text);*/
    }
.filter-bar .dti-button__selected {
    border-color: black;
    background-color: white;
    color: #0c0c0c;
    border-width: 1px;
  }
.filter-bar .dti-button__selected:hover {
      color: #0c0c0c;
      border-color: #3f5661;
    }
.filter-bar .tab {
    margin: 5px;
  }
.tick-mark {
  stroke: #3f5661;
}
.gridline {
  stroke: #b7c6cf;
}
/* project-specific css */
body {
  margin: 0;
}
@media (max-width: 650px) {
body {
    margin-right: 12px;
    margin-left: 12px
}
  }
.g-interactive.g-news-reviews {
  /* margin-top: 5em;

  @media (min-width: 600px) {
    margin-top: 6em;
  } */
}
.g-container-blob {
  max-width: 1200px;
  margin: 0 auto;
}
.g-container-blob > svg {
  overflow: visible;
}
.g-container-summary {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 1.5em;
  position: relative;
}
.g-chart-title {
  font: 500 16px/20px "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  text-align: left;
  margin: 0;
}
header {
  margin-top: 0;
  margin-bottom: 1rem;
  z-index: 1;
  position: relative;
}
@media (min-width: 600px) {
header {
  margin-bottom: 1.5rem;
    margin-top: 1rem;
    margin-left: 5px;
    /* max-width: 250px; */
    /* margin-bottom: 2em; */
    margin-left: 175px
}
  }
.g-container-blob .g-chart-title {
  text-shadow: -2px -2px 2px #feffff, -2px -1px 2px #feffff, -2px 0px 2px #feffff, -2px 1px 2px #feffff, -2px 2px 2px #feffff, -1px -2px 2px #feffff, -1px -1px 2px #feffff, -1px 0px 2px #feffff, -1px 1px 2px #feffff, -1px 2px 2px #feffff, 0px -2px 2px #feffff, 0px -1px 2px #feffff, 0px 1px 2px #feffff, 0px 2px 2px #feffff, 1px -2px 2px #feffff, 1px -1px 2px #feffff, 1px 0px 2px #feffff, 1px 1px 2px #feffff, 1px 2px 2px #feffff, 2px -2px 2px #feffff, 2px -1px 2px #feffff, 2px 0px 2px #feffff, 2px 1px 2px #feffff, 2px 2px 2px #feffff;
}
.g-key {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.g-key-item {
  font: 300 14px/16px "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}
@media (min-width:600px) {
.g-key-item {
    margin-top: 0
}
  }
.g-key-item:not(:last-child) {
  margin-right: 1rem;
}
.g-key-circle {
  margin-right: 0.25rem;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.g-container-summary .g-chart-headline {
  margin-left: 8px;
}
@media (min-width: 600px) {
.g-container-summary .g-chart-headline {
    margin-left: 8px;
    top: 0;
    position: absolute
}
  }
.g-container-summary .g-chart-title {
  font: 500 16px/18px "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  margin: 0;
  margin-bottom: 3px;
}
.g-container-summary .g-chart-subtitle {
  font: 400 14px/16px "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  margin: 0;
  max-width: 250px;
}
.g-container-blob .axis.y text {
  fill: #111;
  font-weight: 300;
  font-size: 13px;
  font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
}
@media (min-width: 600px) {
.g-container-blob .axis.y text {
    font-size: 14px
}
  }
.g-container-blob .axis.x text {
  text-transform: uppercase;
  font-weight: 300;
  fill: #8A8B8A;
  font-size: 13px;
  font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
}
@media (min-width: 600px) {
.g-container-blob .axis.x text {
    font-size: 14px
}
  }
.axis .domain {
  display: none;
}
.axis.x .tick line {
  stroke: #b7c6cf;
  opacity: 0.5;
}
.axis.y .tick line {
  stroke: #b7c6cf;
  opacity: 0.5;
}
.g-container-blob .axis.x line {
  display: none;
}
.g-blob-title {
  font-family: "EconSansLin", "EconSansOS", "EconSansOSSec", "EconSans", "EconSansSec", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 500;
  /* font-size: 16px; */
  font-size: 12px;
}
@media (min-width: 600px) {
.g-blob-title {
    font-size: 14px
}
  }
.g-container-blob .g-labels text {
  font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff,
    0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff,
    1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
}
@media (min-width: 600px) {
.g-container-blob .g-labels text {
    font-weight: 300;
    font-size: 14px
}
  }
.g-container-blob .g-labels .g-med {
  font-weight: 500;
}
/* summary chart */
.g-container-summary .g-chart {
  position: relative;
}
.g-chart .axis.x .tick line {
  stroke: #0c0c0c;
  opacity: 1;
}
@media (max-width: 600px) {
.g-chart .axis.x text {
    font-size: 13px
}
  }
.g-container-summary .axis.y,
.g-container-summary .axis.x text {
  font-size: 14px;
  font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
}
.g-container-summary .g-labels {
  font-family: "EconSansCnd", "EconSansCndSec", "Arial Narrow", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
}
.g-container-summary .g-borders {
  position: absolute;
}
.g-container-summary .g-borders > div {
  position: absolute;
}
.g-border-wedding {
  border-right: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
}
@media (max-width: 715px) {
.g-border-wedding {
    display: none
}
  }
.g-border-supreme-court {
  border-left: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
}
@media (max-width: 715px) {
.g-border-supreme-court {
    display: none
}
  }
.g-border-midterms {
  border-left: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
}
@media (max-width: 715px) {
.g-border-midterms {
    display: none
}
  }
/* headline stuff */
.main-content__clearfix.main-content__clearfix--full-width
  .blog-post
  .flytitle-and-title__title {
  max-width: 500px;
}

